<H1>Neues Todo</H1>
<div id="note">
    <form action='/notes' method='post'>
        <label for="title">Titel</label><input type="text" name="title" id="title">
        <label for="description">Beschreibung</label><input type="text" name="description" id="description">
        <label for="importance">Wichtigkeit</label><input type="number" name="importance" id="importance" max="5" min="0">
        <label for="deadline">Fertig bis</label><input type="date" name="deadline" id="deadline">
        <label for="done">Erledig</label><input type="checkbox" name="done" id="done">
        <button type="submit" id="submitNote" name="submit">Anlegen</button>
        <button type="button" id="cancel">Abbrechen</button>
    </form>

</div>