body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

  .button
    width: 100%
    height: 100%
    float: right

  .form-new-note
    display: grid
    grid-template-columns: 1fr
    grid-auto-rows: 1fr
    grid-gap: 0.5rem

    input, textarea
      float: right
      width: 70%

    .new-note-title
      grid-row: 1 / 2

    .new-note-desc
      grid-row: 2 / 3

  .container
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-gap: 0.5rem
    grid-auto-rows: 1fr

    #form-new
      grid-column: 1 / 2
      grid-row: 1 / 2

    #form-order-by-end-date
      grid-column: 1 / 2
      grid-row: 2 / 3

    #form-order-by-start-date
      grid-column: 2 / 3
      grid-row: 2 / 3

    #form-order-by-importance
      grid-column: 3 / 4
      grid-row: 2 / 3

    .asc
      background-color: cornflowerblue
      border-color: darkcyan

    .desc
      background-color: indianred
      border-color: crimson

    #form-switch-style
      grid-column: 6 / 7

      .btn-switch-style
        float: right

    #form-hide-finished
      grid-column: 6 / 7

      .btn-hide-finished
        float: right

    .deadline
      grid-column: 1 / 2
      grid-row: auto
      margin-top: 20px

    .noteTitle
      grid-column: 2 / 3
      grid-row: auto
      margin-top: 20px
      font-weight: bold
      font-size: 1.5em

    .importance
      --star-size: 60px
      --star-color: #fff
      --star-background: #fc0
      --percent: calc(var(--rating) / 5 * 100%)
      font-family: Times
      line-height: 1
      grid-column: 5 / 6
      margin-top: 20px
      font-size: 3em

      &::before
        content: '★★★★★'
        letter-spacing: 3px
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent))
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    .note-item-chk-box
      grid-column: 1 / 2

    .note-item-desc
      grid-column: 2 / 6
      width: 100%
      height: available

.light-theme
  background-color: white
  color: black

  .button
    background-color: #e1e1e1
    border: #adadad solid thin

    &:hover
      background-color: #adadad
      border: #aaaaaa solid thin

.dark-theme
  background-color: #181818
  color: #aaaaaa

  .button
    background-color: #212121
    border: #3d3d3d solid thin

    &:hover
      background-color: #3d3d3d
      border: #aaaaaa solid thin

  input, textarea
    background-color: #3d3d3d
    color: #aaaaaa

a
  color: #00B7FF
